# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Environment files
*.env
*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ntvs*
*.njsproj
*.sw?

# .NET & Visual Studio
.vs/
bin/
obj/
*.dbmdl
*.pdb

# VS launchSettings
**/launchSettings.json

# NuGet
project.lock.json
project.assets.json
project.nuget.cache
*.csproj.nuget.*

# Rider
.idea/
*.sln.iml
